*.js
!jest.config.js
!click/*.js
!click/**.js
!click/**/*.js

!itest/*.js
!itest/**.js
!itest/**/*.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

/*template*.yml

.DS_Store
